body {
    background-image: url("../images/bg-main-desktop.png");
    background-position: 55% 15%;
}

header,
div.intro-container,
div.second-container,
footer {
    width: 80%;
    margin: auto;
}

header {
    margin-top: 10%;
}

main h1 {
    font-family: 'IBM Plex Sans Bold', sans-serif;
    font-size: 88px;
    word-spacing: -1px;
    line-height: 88px;
    width: 100%;
}

main p {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
}

p#desc {
    width: 80%;
}

div.intro-container {
    display: flex;
    flex-direction: row;
}

div.intro-container img {
    transform: translate(50%, -40%);
}

div.intro-container div p {
    margin-bottom: 25%;
}

div.intro-container div {
    width: 75%;
}

div.second-container {
    display: flex;
    flex-direction: row;
    background-color: rgb(25, 24, 38);
    margin-bottom: 15%;
    z-index: 0;
}

img#app {
    width: 25%;
    transform: translate(30%, -20%);
    z-index: 2;
}

img#bg-2 {
    width: 30%;
    transform: translate(0%, -15%);
    z-index: 1;
}

div.sub-container {
    width: 45%;
    background-color: rgb(250, 116, 83);
    transform: translate(-18%, 20%);
    border-radius: 15px 15px 15px 15px;
    z-index: 2;
}

div.text-container {
    margin: auto;
    width: 80%;
}

h2 {
    font-family: 'IBM Plex Sans';
    font-size: 40px;
    line-height: 52px;
}

p#orange-text {
    font-size: 20px;
    line-height: 34px;
    margin-bottom: 15%;
}

p.price {
    display: inline;
}

div.text-container h2,
div.text-container p {
    color: rgb(252, 250, 249);
}

span.price-tag {
    font-size: 88px;
    font-family: 'IBM Plex Sans';
    line-height: -1px;
}

span.price-month {
    padding-bottom: 15%;
}

p.month {
    font-size: 20px;
    display: inline-block;
    transform: translate(0%, -120%);
}

button {
    display: block;
    width: 100%;
}

div.text-container div {
    margin-bottom: 7%;
}

div.btn-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    font-size: 20px;
    padding: 5%;
    border-radius: 15px;
}

button#ios-download {
    border-color: rgb(25, 24, 38);
    background-color: rgb(25, 24, 38);
    color: rgb(252, 250, 249);
}

button#android-download {
    background-color: rgb(252, 250, 249);
    color: rgb(25, 24, 38);
    border-color: rgb(252, 250, 249);
}

button#ios-download:hover {
    border-color: rgb(102, 226, 220);
    background-color: rgb(102, 226, 220);
    cursor: pointer;
}

button#android-download:hover {
    border-color: rgb(255, 185, 100);
    background-color: rgb(255, 185, 100);
    cursor: pointer;
}

button#ios-download svg {
    transform: translate(-10%, 10%);
}

button#android-download svg {
    transform: translate(-10%, 10%);
}

footer div.footer-container {
    display: flex;
    flex-direction: row;
}

footer div.footer-container>img {
    margin-right: 10%;
}

footer div.footer-container p {
    width: 32%;
    transform: translate(0%, 30%);
    font-family: 'IBM Plex Sans';
    font-size: 16px;
    line-height: 26px;
}

footer div {
    transform: translate(0%, 55%);
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover img {
    text-decoration: none;

}

a:active {
    text-decoration: none;
}

footer div.logo-container {
    float: right;
    display: flex;
    flex-direction: row;
    gap: 35%;
    transform: translate(-100%, 45%);
}

footer {
    margin-bottom: 15%;
}

@media (min-width: 320px) and (max-width: 1024px) {
    header {
        margin-top: 10%;
    }

    body {
        margin: 0;
        overflow-x: hidden;
        width: 100vw;
    }

    div.intro-container img {
        display: none;
    }

    div.intro-container {
        margin-bottom: 35%;
    }

    div.intro-container div {
        width: 100%;
    }

    div.intro-container div h1 {
        font-size: 44px;
        line-height: 44px;
    }

    p#desc {
        width: 100%;
    }

    div.second-container {
        width: 100%;
        margin: initial;
        display: block;
        position: relative;
        margin-bottom: 80%;
    }

    img#app,
    img#bg-2,
    div.sub-container {
        transform: translate(0, 0);
        width: 100%;
        position: absolute;
    }

    img#app {
        transform: scale(0.7) translate(0, -45%);
    }

    img#bg-2 {
        transform: scale(0.9) translate(0, -5%);
        z-index: 0;
    }

    div.sub-container {
        position: static;
        display: flex;
        top: 80%;
        left: 0%;
        transform: translate(0, 90%);
    }

    div.text-container {
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    footer {
        margin-top: 0;
        margin-bottom: 80%;
        transform: translate(0, 100%);
    }

    footer div.footer-container {
        flex-direction: column;
    }

    footer div {
        transform: initial;
    }

    footer div.footer-container>img {
        margin-right: 60%;
    }

    footer div.footer-container p {
        width: 100%;
        transform: initial;
    }

    footer div.logo-container {
        margin-top: 20%;
        transform: initial;
        float: none;
        gap: 10%;
    }
}

@media (min-width: 1024px) and (max-width: 1920px) {
    
}

@media (min-width: 1920px) {}